streamlit
pandas
folium
streamlit-folium
plotly
streamlit-authenticator
PyYAML
sqlalchemy
psycopg2-binary
matplotlib
shapely
pytz
pandasai
openai
langchain
huggingface_hub
transformers
langchain-community

